<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.core.data.csvimport.operations">
      <operation
            class="org.polymap.alkis.internal.flurliste.FlurlisteCsvOperation"
            label="Flurstücksliste"
            tooltip="RW/HW aus Flurstücksliste dekodieren">
      </operation>
      <operation
            class="org.polymap.alkis.internal.flurliste.ZaehlerNennerCsvOperation"
            label="Zähler/Nenner"
            tooltip="Zähler/Nenner suchen und Koordinaten des Flurstücks zuordnen">
      </operation>
   </extension>
   <extension
         point="org.polymap.service.fs.contentProviders">
      <contentProvider
            class="org.polymap.alkis.edbs.fs.EdbsContentProvider"
            id="org.polymap.alkis.edbs.fs.EdbsContentProvider"
            name="EDBS">
      </contentProvider>
   </extension>

</plugin>
