<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="org.polymap.alkis.ui.StartPanel"
            id="org.polymap.alkis.StartPanel">
      </panel>
      <panel
            class="org.polymap.alkis.ui.FlurstueckPanel"
            id="org.polymap.alkis.FlurstueckPanel">
      </panel>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="org.polymap.alkis.ui.AlkisDesign"
            id="org.polymap.alkis.design"
            servletNameMatcher="/alkis">
      </design>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.polymap.rhei.batik.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="org.polymap.alkis.entrypoint"
            path="/alkis">
      </entrypoint>
   </extension>
   <extension
         id="org.polymap.alkis.app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.polymap.alkis.AlkisApplication">
         </run>
      </application>
   </extension>

</plugin>
